In [1183]:
import numpy as np
import pandas as pd
import random
import warnings
warnings.filterwarnings("ignore")
from category_encoders import TargetEncoder

In [1204]:
data = pd.read_csv("Train.csv")
data

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-1,616,0.0,4,43,2,0,30.0,1.0,...,0,0,0,0,0,0,0,0,0,1738000
1,1,2011-1,112,0.0,3,33,1,0,15.0,1.0,...,0,0,0,0,0,0,0,0,0,1169000
2,2,2011-1,230,NaN,9,34,1,0,25.0,NaN,...,0,0,0,0,0,0,0,0,0,2821000
3,3,2011-1,302,1.0,4,60,3,0,15.0,0.0,...,0,0,0,0,0,0,0,0,0,5714000
4,4,2011-1,578,0.0,3,49,2,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,1660000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2012-3,612,0.0,3,36,1,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,3898000
99996,99996,2012-3,573,0.0,4,51,2,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,8698000
99997,99997,2012-3,550,NaN,9,48,2,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,6498000
99998,99998,2012-3,595,1.0,10,51,2,1,15.0,1.0,...,0,0,0,0,0,0,0,0,0,9436000
99999,99999,2012-3,388,1.0,2,34,1,1,15.0,0.0,...,0,0,0,0,0,0,0,0,0,3230000

In [1185]:
a = []
for i in range(1,24):
    a.append(i)
X = data.iloc[:,a]
y = data.iloc [:, 24]

In [1186]:
build_t = []
balcons = []
g_lift = []
years = []
months = []
metro_dist = []
area = []
for index, row in X.iterrows():
    area.append(row['area'])
    a = row['date'].split('-')
    years.append(int(a[0]))
    months.append(int(a[1]))
    if np.isnan(row['build_tech']):
        r = random.randint(0, 71)
        build_t.append(0.0 if r <= 36 else 1.0 if r <= 67 else 2.0)
    else:
        build_t.append(row['build_tech'])
    if np.isnan(row['g_lift']):
        g_lift.append(0.0 if random.randint(0,1) == 0 else 1.0)
    else:
        g_lift.append(row['g_lift'])
    if np.isnan(row['metro_dist']):
        metro_dist.append(X['metro_dist'].mean())
    else:
        metro_dist.append(row['metro_dist'])
X.drop('metro_dist', axis=1, inplace=True)
X.drop('g_lift', axis=1, inplace=True)
X.drop('build_tech', axis=1, inplace=True)
X.drop('date', axis=1, inplace=True)
X.drop('balcon', axis=1, inplace=True)
X['g_lift'] = g_lift
X['build_tech'] = build_t
X['year'] = years
X['month'] = months
X['metro_dist'] = metro_dist
X

,street_id,floor,area,rooms,n_photos,kw1,kw2,kw3,kw4,kw5,...,kw9,kw10,kw11,kw12,kw13,g_lift,build_tech,year,month,metro_dist
0,616,4,43,2,1,0,1,0,0,0,...,0,0,0,0,0,1.0,0.0,2011,1,30.0
1,112,3,33,1,2,0,1,0,0,0,...,0,0,0,0,0,1.0,0.0,2011,1,15.0
2,230,9,34,1,4,0,1,0,0,0,...,0,0,0,0,0,1.0,1.0,2011,1,25.0
3,302,4,60,3,2,1,1,0,0,0,...,0,0,0,0,0,0.0,1.0,2011,1,15.0
4,578,3,49,2,2,0,1,0,0,0,...,0,0,0,0,0,0.0,0.0,2011,1,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,612,3,36,1,3,0,1,0,0,0,...,0,0,0,0,0,0.0,0.0,2012,3,30.0
99996,573,4,51,2,3,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,2012,3,30.0
99997,550,9,48,2,0,0,1,0,0,0,...,0,0,0,0,0,0.0,1.0,2012,3,30.0
99998,595,10,51,2,1,0,1,0,0,0,...,0,0,0,0,0,1.0,1.0,2012,3,15.0
99999,388,2,34,1,2,0,0,0,0,0,...,0,0,0,0,0,0.0,1.0,2012,3,15.0

In [1187]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (X, y, test_size = 0.25, random_state = 0)

In [1188]:
feat_te = ['street_id', 'build_tech', 'area']
feat1 = ['street_id_t', 'build_tech_t', 'area_t']

In [1189]:
te = TargetEncoder(cols = feat_te)
te.fit(x_train[feat_te], y_train)

TargetEncoder(cols=['street_id', 'build_tech', 'area'])

In [1190]:
x_train_TE = x_train.join(te.transform(x_train[feat_te]).add_suffix('_T'))
x_test_TE = x_test.join(te.transform(x_test[feat_te]).add_suffix('_T'))

In [1191]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform (x_train_TE)
x_test = sc.transform (x_test_TE)

In [1192]:
import lightgbm as lgb
d_train = lgb.Dataset (x_train, label = y_train)
params = {}
params ['learning_rate'] = 0.36
params ['metric'] = 'mae'
params ['n_estimators'] = 379
params ['force_col_wise'] = True

clf = lgb.train (params, train_set = d_train)

[LightGBM] [Info] Total Bins 828
[LightGBM] [Info] Number of data points in the train set: 75000, number of used features: 25
[LightGBM] [Info] Start training from score 5094829.386667

In [1193]:
y_pred = clf.predict (x_test)

In [1194]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred)) 
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 755240.7474413359
Mean Squared Error: 2352719548559.302
Root Mean Squared Error: 1533857.734132896

In [1201]:
data_test = pd.read_csv("Test.csv")
data_out = data_test.copy()
data_test.drop('id', axis=1, inplace=True)
X_test = data_test
X_test.value_counts('build_tech')

build_tech
0.0    35956
1.0    30724
2.0     3107
dtype: int64

In [1196]:
build_t = []
balcons = []
g_lift = []
years = []
months = []
metro_dist = []
for index, row in X_test.iterrows():
    a = row['date'].split('-')
    years.append(int(a[0]))
    months.append(int(a[1]))
    if np.isnan(row['build_tech']):
        r = random.randint(0, 71)
        build_t.append(0.0 if r <= 36 else 1.0 if r <= 67 else 2.0)
    else:
        build_t.append(row['build_tech'])
    if np.isnan(row['g_lift']):
        g_lift.append(0.0 if random.randint(0,1) == 0 else 1.0)
    else:
        g_lift.append(row['g_lift'])
    if np.isnan(row['metro_dist']):
        metro_dist.append(X_test['metro_dist'].mean())
    else:
        metro_dist.append(row['metro_dist'])
        
X_test.drop('metro_dist', axis=1, inplace=True)
X_test.drop('g_lift', axis=1, inplace=True)
X_test.drop('build_tech', axis=1, inplace=True)
X_test.drop('date', axis=1, inplace=True)
X_test.drop('balcon', axis=1, inplace=True)
X_test['g_lift'] = g_lift
X_test['build_tech'] = build_t
X_test['year'] = years
X_test['month'] = months
X_test['metro_dist'] = metro_dist

In [1162]:
x_train_TE = X.join(te.transform(X[feat_te]).add_suffix('_T'))
x_test_TE = X_test.join(te.transform(X_test[feat_te]).add_suffix('_T'))
x_train_TE

,street_id,floor,area,rooms,n_photos,kw1,kw2,kw3,kw4,kw5,...,kw12,kw13,g_lift,build_tech,year,month,metro_dist,street_id_T,build_tech_T,area_T
0,616,4,43,2,1,0,1,0,0,0,...,0,0,1.0,0.0,2011,1,30.0,2.552261e+06,4.134274e+06,2.804641e+06
1,112,3,33,1,2,0,1,0,0,0,...,0,0,1.0,0.0,2011,1,15.0,2.291321e+06,4.134274e+06,2.415810e+06
2,230,9,34,1,4,0,1,0,0,0,...,0,0,0.0,1.0,2011,1,25.0,3.952157e+06,5.847787e+06,3.065621e+06
3,302,4,60,3,2,1,1,0,0,0,...,0,0,0.0,1.0,2011,1,15.0,4.036845e+06,5.847787e+06,5.727113e+06
4,578,3,49,2,2,0,1,0,0,0,...,0,0,0.0,0.0,2011,1,30.0,2.164592e+06,4.134274e+06,4.370868e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,612,3,36,1,3,0,1,0,0,0,...,0,0,0.0,0.0,2012,3,30.0,4.388753e+06,4.134274e+06,3.222075e+06
99996,573,4,51,2,3,0,0,0,0,0,...,0,0,0.0,0.0,2012,3,30.0,1.263197e+07,4.134274e+06,4.812204e+06
99997,550,9,48,2,0,0,1,0,0,0,...,0,0,0.0,0.0,2012,3,30.0,7.511475e+06,4.134274e+06,3.903511e+06
99998,595,10,51,2,1,0,1,0,0,0,...,0,0,1.0,1.0,2012,3,15.0,7.599487e+06,5.847787e+06,4.812204e+06
99999,388,2,34,1,2,0,0,0,0,0,...,0,0,0.0,1.0,2012,3,15.0,2.979198e+06,5.847787e+06,3.065621e+06

In [1163]:
X_train = sc.fit_transform (x_train_TE)
X_test = sc.fit_transform (x_test_TE)
d_train1 = lgb.Dataset (X_train, label = y)
clf1 = lgb.train (params, train_set = d_train1)

[LightGBM] [Info] Total Bins 837
[LightGBM] [Info] Number of data points in the train set: 100000, number of used features: 26
[LightGBM] [Info] Start training from score 5100166.500000

In [1164]:
y_pred = clf1.predict(X_test)

In [1165]:
data_out['price'] = y_pred
data_out[["id","price"]].to_csv("ans1.csv", index=False)
!cat ans1.csv | head

id,price
100000,4477253.908729052
100001,6358440.086399702
100002,4003241.617569599
100003,1777315.7890978414
100004,2966312.90238397
100005,4059198.2301275693
100006,7185246.0288857035
100007,5108898.649436372
100008,10584831.094293011
cat: stdout: Broken pipe